
/*Intro text color & background*/
.intro{
  color: #BFBF51;
  text-align: center;
  background: #333333;
}
body{
  background:#333333;
  margin: 0;
  padding: 0px;
  color: white;
}
/*Navbar information*/
.navbar {
  overflow: hidden;
  background: #333333;
  color: #BFBF51;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
/*Items on right side of navbar info*/
.right a {
  float: right;
  display: block;
  color: #BFBF51;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
  font-size: 17px;
  background: #333333;
}

.right a:hover {
  background: #BFBF51;
  color: #333333;
}
/*Items on left side of navbar info*/
.left a {
  float: left;

}
/*Align all text*/
.main{
  text-align: center;
}
/*Make titles be big*/
.intro-text {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
}
/*Make paharagraph info be big*/
.body-text {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
}
/*Make some hr's be shorter for a cool effect*/
.hr1 {
    max-width: 400px;
    border-color: #999999;
}
/*Make a smooth scrolling feature*/
html {
  scroll-behavior: smooth;
}
/*.specs {
  width: 100px;
  height: 100px;
  border: 5px solid gray;
  margin: 0;
}*/
.specs{
  background:#000000; /*black */
  border:none;
  color:white;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:20px;
  margin:0;
  width:300px;
  height:150px;
}
.specs img{
  width:50px;
   height:50px;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/*
ALL THE CODE AFTER THIS POINT IS FOR THE ROADMAP*/
* {
  box-sizing: border-box;
}



/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/*
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
/*
/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 100%;
  padding:0 25px 0 70px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
/*ALL THE CODE BEFORE THIS POINT IS FOR THE ROADMAP*/
